<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Core Identifier</key>
	<string>org.openemu.Gambatte</string>
	<key>Core Version</key>
	<string>0.5.0.689</string>
	<key>Name</key>
	<string>OESpecialState_auto</string>
	<key>ROM MD5</key>
	<string>d9290db87b1f0a23b89f99ee4469e34b</string>
	<key>Timestamp</key>
	<date>2022-04-05T01:52:45Z</date>
	<key>Version</key>
	<string>1.0</string>
</dict>
</plist>
